* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: Arial, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
}
header {
  background: white;
  padding: 30px 0 50px;
}
.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid black;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: 'Indie Flower', cursive;
}
nav a:hover {
  text-decoration: underline;
}

h1.page-title {
  font-size: 50px;
  text-transform: uppercase;
}

main {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  padding-top: 30px;
  border-top: 3px solid white;
  font-family: 'Indie Flower', cursive;
}

h2 {
  background: red;
  padding-top: 30px;
  background: transparent
    linear-gradient(180deg, #7ea8b4 0%, #b0d1cb66 60%, #5f1e7800 100%) 0% 0%
    no-repeat padding-box;
  padding-bottom: 5px;
  font-size: 32px;
  margin-bottom: 10px;
}
p {
  line-height: 1.4;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 60px;
}

ul,
ol {
  padding-left: 15px;
  margin-bottom: 30px;
  line-height: 1.4;
}

#burger {
  display: none;
}

@media (max-width: 768px) {
  header {
    text-align: center;
    padding: 30px;
  }
  header h1 {
    font-size: 30px !important;
  }
  #burger {
    display: inline-block;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 20px;
    flex-direction: column;
    background: white;
    width: calc(100% - 40px);
    border: 2px solid black;
    padding: 15px;
    gap: 15px;
  }
  nav.show {
    display: flex;
  }
  nav a {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  nav a:last-child {
    border: 0;
    padding: 0;
  }
}
